@import "tailwindcss";
@config "../tailwind.config.js";
@plugin "daisyui";

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;  /* stack header + form vertically */
  min-height: 100vh;
  width: 100%;
}


